.item {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
  width: 272px;
}

.price {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  margin: 8px auto;
}

.title {
  text-align: center;
}
