.title {
  align-items: center;
  box-sizing: border-box;
  display: flex;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.image {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  max-width: 480px;
  width: 100%;
}

.nutrients {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.nutrient {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
