.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 600px;
  width: 100%;
}

.tabs {
  display: flex;
}

.components {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 756px;
  margin-top: 40px;
  overflow-y: scroll;
  padding: 0;
}

.components::-webkit-scrollbar {
  width: 8px;
}

.components::-webkit-scrollbar-track {
  background: #2f2f37;
}

.components::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
